@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Poppins:wght@600&display=swap');

.proj-text {
    font-family: 'Poppins', sans-serif;
    max-width: 70%;
    margin: 0 auto;
}

.proj-title {
    font-family: 'Poppins', sans-serif;
    font-size: 2.2rem;
    background: linear-gradient(315deg, #44b09e 0%, #92c2e2 74%);
    -webkit-background-clip: text;
    color: transparent;
}

.used-stack {
    margin-top: 5%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    background: linear-gradient(315deg, #8544b0 0%, #98cff3 74%);
    -webkit-background-clip: text;
    color: transparent;
}

.portfolio-title {
    margin-top: 10%;
    margin-left: 10%;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    background: linear-gradient(315deg, #136485 15%, #74c4ac 74%);
    -webkit-background-clip: text;
    color: transparent;
}

.port-header {
    margin-top: 2%;
    margin-left: 10%;
    margin-bottom: 7%;
    font-family: 'Lemon', serif;
    font-size: 1.4rem;
    background: linear-gradient(315deg, #440370 4%, #d6d0eb 74%);
    -webkit-background-clip: text;
    color: transparent;
}

.emoji {
    color: white;
}

.rounded-image {
    border-radius: 10px;
    border: 2px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.each-proj {
    margin-top: 5%;
    margin-bottom: 10%;
}

@media (max-width: 767px) {
    .each-proj:nth-child(odd) {
        flex-direction: column-reverse;
    }
    .port-header {
        margin-left: 3%;
    }
    .portfolio-title {
        margin-left: 3%;
    }
}