@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Poppins:wght@600&display=swap');

@keyframes flow {
    0% {
        transform: translateY(0) translateX(0) rotate(0deg);
    }

    100% {
        transform: translateY(100vh) translateX(100vw) rotate(720deg);
    }
}

.dot-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.dot {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: flow 20s infinite;
}

.rotating-container {
    position: relative;
    animation: flow 20s infinite;
}

.avatar-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.first-name {
    position: relative;
    display: inline-block;
    background: linear-gradient(315deg, #44b09e 0%, #92c2e2 74%);
    -webkit-background-clip: text;
    color: transparent;
}

.first-name,
.about-me,
.personal-title {
    font-family: 'Poppins', sans-serif;
}