.resume-div {
    padding: 1rem;
    position: relative;
}

.pdf-container {
    overflow-x: auto;
    max-width: 100%;
    margin: 0 auto; /* Center the content */
}

.react-pdf__Page__canvas {
    width: 100% !important;
}

.pdf-page-container {
    width: 100%;
    margin-bottom: 1rem;
}

.resume-title {
    font-family: 'Poppins', sans-serif;
    position: relative;
    font-size: 3rem;
    background: linear-gradient(315deg, #44b09e 0%, #58ddbc 74%);
    -webkit-background-clip: text;
    color: transparent;
}

.resume-header {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
