.contact-box {
    width: 70%;
    height: 30%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;    
}

.full-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

