.bubble-container {
    position: fixed;
    top: 5%; 
    left: 10%; 
    z-index: 100; 
}

.bubble-container.bottom-right {
    position: fixed;
    top: 82%;
    left: 86%;
    rotate: 180deg;
   
  }

.bubble {
    margin-top: 90px;
    right: -200px;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.25);
    animation: animate 8s ease-in-out infinite;
    /* background-image: url('../../assets/cartoon_LOAF-ezgif.com-webp-to-jpg-converter.jpg'); */
    

}

.bubble:nth-child(2) {
    position: relative;
    zoom: 0.45;
    left: -200px;
    top: 100px;
    animation-delay: -4s;
}

.bubble:nth-child(3) {
    position: relative;
    zoom: 0.25;
    right: 200px;
    top: 700px;
    animation-delay: -6s;
    
}

@keyframes animate {
    0%, 100%{
        transform: translateY(-100px);
        
    }
    50%{
        transform: translateY(100px);
    }
}

.bubble::before {
    content: "";
    top: 50px;
    left: 45px;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    z-index: 10;
    filter: blur(2px);
}

.bubble::after {
    content: "";
    top: 80px;
    left: 80px;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    z-index: 10;
    filter: blur(2px);
}

.bubble span {
    position: absolute;
    content: '';
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.bubble span.blue {   
    border-left: 15px solid #0fb4ff;
    filter: blur(8px);
}

.bubble span.red {
    border-right: 15px solid #ff4484; 
    filter: blur(8px);
}

.bubble span.yellow {
    border-top: 15px solid #ffeb4b; 
    filter: blur(8px);
}

.bubble span.red2 {
    inset: 0px 30px;
    border-left: 15px solid #ff4484; 
    filter: blur(14px);
}

.bubble span.white {
    inset: -10px 2px;
    border-bottom: 10px solid #fff; 
    filter: blur(8px);
    transform: rotate(330deg);
}

@media (max-width: 600px) {
    .bubble-container {
      display: none;
    }
  }

