.design-portfolio-container {
    height: 100vh;
    padding: 100px 20px 20px;
    background: linear-gradient(135deg, #2E2E2E 0%, #7A7A7A 100%);
    color: #FFF;
    display: flex;
    flex-direction: column;
}

.design-portfolio-title {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 40px;
    background: linear-gradient(315deg, #440370 4%, #d6d0eb 74%);
    -webkit-background-clip: text;
    color: transparent;
}

.design-portfolio-collage {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four projects per row */
    gap: 40px; /* Equal spacing between rows and columns */
    flex-grow: 1;
    padding: 0 10px;
    overflow-y: auto;
}

.design-portfolio-project-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.design-portfolio-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures all images are the same size and cover the container */
    display: block;
    transition: transform 0.3s ease;
}

.design-portfolio-project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Slightly transparent overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.design-portfolio-project-item:hover .design-portfolio-project-overlay {
    opacity: 1;
}

.design-portfolio-project-title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: #FFF;
    text-align: center;
    padding: 10px;
}

@media (max-width: 1200px) {
    .design-portfolio-collage {
        grid-template-columns: repeat(3, 1fr); /* Three projects per row for medium screens */
    }
}

@media (max-width: 992px) {
    .design-portfolio-collage {
        grid-template-columns: repeat(2, 1fr); /* Two projects per row for smaller screens */
    }
}

@media (max-width: 767px) {
    .design-portfolio-collage {
        grid-template-columns: repeat(1, 1fr); /* One project per row for very small screens */
    }

    .design-portfolio-project-title {
        font-size: 1.2rem;
    }
}
