.description-container {
    width: 90%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #223c58;
    filter: drop-shadow(4mm -6mm 4mm rgb(160, 0, 210));
    position: relative;
    border-radius: 20px;
    margin-left: 5%;
}


.description-content {
    padding: 20px;
}

.description-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}



.about-me-text {
    margin-top: 20px;
    max-width: 800px; 
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

.about-me-title {
    font-family: 'Poppins', sans-serif;
    position: relative;
    display: inline-block;
    font-size: 3rem;
    background: linear-gradient(315deg, #44b09e 0%, #92c2e2 74%);
    -webkit-background-clip: text;
    color: transparent;
}

.wireframe-polygon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #44b09e;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 10%;
}

.wireframe-polygon::before {
    content: 'The Real Me';
    font-family: 'Poppins', sans-serif;
    color: purple;
    font-size: 12px;
    text-align: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg); 
}


.tech-stack {
    font-family: 'Poppins', sans-serif;
    color: #44b09e;
    font-size: 16px;
    width: 100%;
}

@media (max-width: 767px) {
    .description-container {
        border-radius: 0px;
        width: 100%;
        margin-left: 0;
    }   
}
