@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Poppins:wght@600&display=swap');

/* other font may use */
/* font-family: 'Poppins', sans-serif; */

#logo-name {
    font-family: 'Lemon', serif;
    margin-left: 5%;
    /* font-family: 'Poppins', sans-serif; */
}

.resume-button {
    background: linear-gradient(315deg, #44b09e 0%, #b5cedf 74%);
    border: none;
    margin-right: 5%;
    margin-left: 4%;
}

.nav-bar {
    margin-left: 1%;
}


/* Link container styles */
.nav-bar-links {
    text-decoration: none;
    color: #fff; 
    margin-left: 6%;
    margin-right: 6%;
    position: relative;
    font-size: 18px;
}

/* Underline styles on hover */
.nav-bar-links:hover::after {
    content: '';
    display: block; 
    height: 2px; 
    background-color: #4c00ff; 
    position: absolute; 
    bottom: -5px; 
    left: 0; 
    width: 100%; 
}

/* Underline styles on active/clicked */
.nav-bar-links:active::after {
    content: '';
    display: block;
    height: 2px;
    background-color: #6200ff; 
    position: absolute;
    left: 0;
    width: 100%;
}
