@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Poppins:wght@600&display=swap');


.description-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #223c58; 
   /* filter: drop-shadow(30px 10px 4px #4444dd); */
   filter: drop-shadow(0 -6mm 4mm rgb(160, 0, 210));
}

.description-image {
    width: 100%; 
    max-width: 100%; 
    height: auto; 
}

.about-me-text {
    margin-top: 20px; 
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    line-height: 40px;
    
}

.about-me-title {    
    font-family: 'Poppins', sans-serif;
    position: relative;
    display: inline-block;
    font-size: 1.8rem; 
    background: linear-gradient(315deg, #44b09e 0%, #92c2e2 74%);
    -webkit-background-clip: text;
    color: transparent;
}

.wireframe-polygon {
  width: 100px;
  height: 100px; 
  border: 1px solid #000;
}

.tech-stack {
    font-family: 'Poppins', sans-serif;
    color: #44b09e;
}