/* Add this CSS to your footer.css file */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Style for the left-aligned paragraph */
  .footer p {
    margin: 0; /* Remove default margin */
  }
  
  /* Style for the right-aligned anchor links */
  .footer-container {
    display: flex;
    align-items: center;
    margin-right: 5%;
  }
  


  .footer-links {
    color: inherit;
    margin: 0 10px;
    height: 40px;
    width: 50px;
    background-color: #fff;
    text-align: center;
    border-radius: 40%;
    position: relative;
    overflow: hidden;
    border: 3px solid;
    z-index: 1;
  }
  
  .footer-links .footer-icons {
    position: relative;
    color: #262626;
    transition: 0.5s;
    z-index: 3;
    width: 80%;
    height: 60%;
    margin-top: 20%;
  }
  
  .footer-links:hover .footer-icons {
    color: #fff;
    transform: rotateY(360deg);
  }
  
  .footer-links:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.5s;
    z-index: 2;
  }
  
  .footer-links:hover:before {
    top: 0;
  }
  
  .footer-links:nth-child(1):before {
    background: #0a66c2;
  }
  
  .footer-links:nth-child(2):before {
    background: #6e5494;
  }
  
  .footer-links:nth-child(3):before {
    background: #5865f2;
  }
  
  .footer-container {
    display: flex;
    justify-content: flex-end; /* Align links to the right */
    margin-top: 10px;
  }
  