@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Poppins:wght@600&display=swap');

/* other font may use */
/* font-family: 'Poppins', sans-serif; */

#logo-name {
    font-family: 'Lemon', serif;
    /* font-family: 'Poppins', sans-serif; */
}

.resume-button {
    background: linear-gradient(315deg, #44b09e 0%, #b5cedf 74%);
    border: none;  
    margin-right: 3%;
    border-radius: 70%;  
}
