/* Add these styles to your contact.css file */

.full-page {
  width: 90%;
  background-color: rgb(27, 52, 75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin-top: 20vh;
  margin-bottom: 10%;
  box-shadow: 0 -8px 40px rgba(126, 48, 189, 0.945);
  border-radius: 20px;
  margin-left: 5%;
}

.full-form-comp {
  width: 60%;
}

.contact-box {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(126, 48, 189, 0.945);
  border-radius: 10px;
  background: #f5f5f5;
  margin-bottom: 30%;
  color: white;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Additional styles to target input and textarea text color */
.contact-box input,
.contact-box textarea {
  color: white;
}

/* Additional styles for placeholder text color */
.contact-box input::placeholder,
.contact-box textarea::placeholder {
  color: white;
}

.title-box {
  margin-top: 20%;
  text-align: center;
  margin-bottom: 20px;
}

textarea {
  resize: none;
  height: 150px;
}

.form-title {
  font-family: 'Poppins', sans-serif;
  position: relative;
  display: inline-block;
  font-size: 2rem;
  background: linear-gradient(315deg, #44b09e 0%, #92c2e2 74%);
  -webkit-background-clip: text;
  color: transparent;
}

.contact-me-header {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  background: linear-gradient(315deg, #136485 15%, #74c4ac 74%);
  -webkit-background-clip: text;
  color: transparent;
}

.form-control:focus {
  color: whitesmoke;
}

.custom-submit-btn {
  float: right;
  background: linear-gradient(315deg, #44b09e 0%, #b5cedf 74%);
  border: none;
  margin-top: 2%; 
  margin-right: 2%;
  width: 15%;
}

.thank-you-tag {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  background: linear-gradient(315deg, #722f9e 15%, #74c4ac 74%);
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 40%;
}

.contact-info {
  border-left: #c2e7e1 2px solid;
  padding-left: 15%;
  height: 100%;
}

.contact-me-information {
  margin-bottom: 10%;
}

.con-info-titles {
  font-size: 1.4rem;
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 767px) {

  .full-page {
    width: 100%;
    border-radius: 0;
    margin-left: 0;
    height: 100vh;
  }

  .contact-box {
    width: 100%;
    margin-bottom: 60%;
    flex-direction: column;
    align-items: center
  }

  .contact-info {
    margin-top: 20px;
    border-left: none;
    padding-left: none;
    margin-right: 60%;
  }

  .full-form-comp {
    width: 100%;
  }

  .custom-submit-btn{
width: 100%;
margin-right: 0;
  }
}