@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Poppins:wght@600&display=swap');

@keyframes flow {
    0% {
        transform: translateY(0) translateX(0) rotate(0deg);
    }

    100% {
        transform: translateY(100vh) translateX(100vw) rotate(720deg);
    }
}

.dot-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.dot {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    animation: flow 20s infinite;
}

.about-container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.first-name {
    font-family: 'Poppins', sans-serif;
    position: relative;
    display: inline-block;
    font-size: 3.3rem;
    background: linear-gradient(315deg, #44b09e 0%, #92c2e2 74%);
    -webkit-background-clip: text;
    color: transparent;
}

.about-me,
.personal-title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: whitesmoke;
    margin-bottom: 20px;
}


.social-links-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.social-links {
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}

.social-links .socail-icons {
    position: relative;
    color: #262626;
    transition: 0.5s;
    z-index: 3;
    width: 100%;
    height: 80%;
    margin-top: 7px;
}

.social-links:hover .socail-icons {
    color: #fff;
    transform: rotateY(360deg);
}

.social-links:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.5s;
    z-index: 2;
}

.social-links:hover:before {
    top: 0;
}

.social-links:nth-child(1):before {
    background: #0a66c2;
}

.social-links:nth-child(2):before {
    background: #6e5494;
}

.social-links:nth-child(3):before {
    background: #5865f2;
}

.cartoon-bubble {
    background-color: #161313;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    max-width: 200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.swipe-image {
    transition: transform 0.3s ease-in-out;
}

.swipe-image:hover {
    transform: scale(1.1);
}

@keyframes innerBorderAnimation {
    0% {
        border-color: transparent;
    }

    100% {
        border-color: rgb(38, 122, 161);
    }
}

@keyframes outerRingAnimation {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(-10px, 20px);
    }

    50% {
        transform: translate(0, 0);
    }

    75% {
        transform: translate(5px, -10px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@media (max-width: 600px) {
    .first-name {
      font-size: 1.3rem;
    }
    .personal-title {
      font-size: 1rem;
    } 
    .about-me {
      font-size: 1rem;
    } 
  }